<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.pet.mapper.PostBarDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qf.pet.entity.PostBar">
		<id column="id" property="id" />
		<result column="post_name" property="postName" />
		<result column="post_wirter_id" property="postWirterId" />
		<result column="post_text" property="postText" />
		<result column="post_addr" property="postAddr" />
		<result column="post_likes" property="postLikes" />
		<result column="post_type" property="postType" />
		<result column="flag" property="flag" />
	</resultMap>

</mapper>
